[submodule "vim/pack/pluginRepos/start/VisIncr"]
	path = vim/pack/pluginRepos/start/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "vim/pack/pluginRepos/start/vim-colors-solarized"]
	path = vim/pack/pluginRepos/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pack/pluginRepos/start/Colour-Sampler-Pack"]
	path = vim/pack/pluginRepos/start/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "vim/pack/pluginRepos/start/CSApprox"]
	path = vim/pack/pluginRepos/start/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "vim/pack/pluginRepos/start/fugitive"]
	path = vim/pack/pluginRepos/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/pluginRepos/start/nerdcommenter"]
	path = vim/pack/pluginRepos/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/pack/pluginRepos/start/The-NERD-tree"]
	path = vim/pack/pluginRepos/start/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/pack/pluginRepos/start/nerdtree-tabs"]
	path = vim/pack/pluginRepos/start/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/pack/pluginRepos/start/OmniCppComplete"]
	path = vim/pack/pluginRepos/start/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/pack/pluginRepos/start/pep8"]
	path = vim/pack/pluginRepos/start/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/pack/pluginRepos/start/pydoc"]
	path = vim/pack/pluginRepos/start/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/pack/pluginRepos/start/taglist"]
	path = vim/pack/pluginRepos/start/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/pack/pluginRepos/start/tagbar"]
	path = vim/pack/pluginRepos/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/pack/pluginRepos/start/tasklist"]
	path = vim/pack/pluginRepos/start/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/pack/pluginRepos/start/fswitch"]
	path = vim/pack/pluginRepos/start/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "vim/pack/pluginRepos/start/vimwiki"]
	path = vim/pack/pluginRepos/start/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "vim/pack/pluginRepos/opt/vim-latex"]
	path = vim/pack/pluginRepos/opt/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "vim/pack/pluginRepos/start/agrep"]
	path = vim/pack/pluginRepos/start/agrep
	url = https://github.com/ramele/agrep.git
[submodule "vim/pack/pluginRepos/start/asyncrun"]
	path = vim/pack/pluginRepos/start/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "vim/pack/pluginRepos/start/syntastic"]
	path = vim/pack/pluginRepos/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/pluginRepos/start/YouCompleteMe"]
	path = vim/pack/pluginRepos/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
