[submodule "vim/pack/pluginRepos/start/VisIncr"]
	path = vim/pack/pluginRepos/start/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "vim/pack/pluginRepos/start/vim-colors-solarized"]
	path = vim/pack/pluginRepos/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pack/pluginRepos/start/Colour-Sampler-Pack"]
	path = vim/pack/pluginRepos/start/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "vim/pack/pluginRepos/start/CSApprox"]
	path = vim/pack/pluginRepos/start/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "vim/pack/pluginRepos/start/fugitive"]
	path = vim/pack/pluginRepos/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/pluginRepos/start/nerdcommenter"]
	path = vim/pack/pluginRepos/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/pack/pluginRepos/start/The-NERD-tree"]
	path = vim/pack/pluginRepos/start/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/pack/pluginRepos/start/nerdtree-tabs"]
	path = vim/pack/pluginRepos/start/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/pack/pluginRepos/start/OmniCppComplete"]
	path = vim/pack/pluginRepos/start/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
